* {
  box-sizing: border-box;
}

body {
  padding: .75cm;
  font-family: Ubuntu, "Helvetica Neue", "Helvetica", "Roboto", "Arial", sans-serif;
  color: #000;
}

@media print {
  @page {
    size: A4;
    margin: .5cm;
  }

  html,
  body {
    background: #fff;
    overflow: visible;
    padding: 0;
  }

  .no-print {
    display: none;
  }
}